* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-family: "Markazi Text", sans-serif;
  height: 100%;
}

body {
  background-color: white;
  display: flex;
}

/* Sidebar */
#sidebar-container {
  height: 100%;
  flex: 1.6;

}

#sidebar-container a {
  text-decoration: none;
}

/* space between each element on nav bar */
#sidebar-container div + div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

/* Sidebar header */
/* space from header to tags */
#sidebar-container .sidebar-header {
  margin-bottom: 100px;
  font-size: 28px;
}

/* color for the sidebar header */
#sidebar-container .sidebar-header a {
  font-size: 70px;
  color: coral;
  padding: 20px;
}

/* Content */

#content {
  height: 100%;
  flex: 10;
  text-align: justify;
  overflow: auto;
  display: grid;
}

#content header h1 {
  margin-top: 0;
  text-align: center;
}

/* Sidebar Item */
#sidebar-container .sidebar-item {
  background-color: rgba(141, 138, 138, 0.5);
  padding-left: 20px;
}

#sidebar-container .sidebar-item:hover {
  background-color: coral;
}

#sidebar-container .sidebar-item a {
  color: black;
  font-size: 35px;
}

/* Game button */
#game_button {
  margin: 30px;
  border-color: transparent;
  background-color: coral;
  color: white;
}

#game_button:hover {
  background-color: lightgreen;
  color: black;
}

/* Footer */
#footer {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 15px;
  border-top: 1px solid black;
  margin: 8px 100px;
  margin-bottom: 12px;
  padding-top: 8px;
  opacity: 0.75;
  height: 5%;
}

/* Declarations */
#declarations {
  text-align: center;
  margin-left: 40px;
}

#heading {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color: coral;
  margin-top: 10px;
}

.Link {
  font-weight: normal;
  cursor: pointer;
  color: coral;
}
.Link:link {
  color: coral;
}
.Link:hover {
  color: lightgreen;
}
#heading2 {
  font-weight: bold;
  font-size: 35px;
  color: coral;
  text-align: left;
}
.geninfo {
  margin: 10px auto;
  font-size: 28px;
  font-weight: bold;
}
.left {
  border-right: 1px solid;
  display: inline-table;
  float: left;
  margin: 20px;
  margin-left: 13vw;
  padding: 20px 20px 20px 0px;
  text-align: right;
}
.right {
  display: inline-table;
  margin-right: 13vw;
  padding: 0px 20px 20px 0px;
}
#hd3 {
  color: coral;
  font-size: 2.5vw;
}
.text {
  font-size: 1.7vw;
}
