body{
    counter-reset: chapter;
}
.title{
    margin-top: 20px;
    text-align: center;
    font-family: 'Markazi Text', sans-serif;
    font-size: 50px;
    color: coral;
}
ul{
    margin-top: 30px;
    padding-right: 40px;
}
li{
    list-style-type: none;
    font-family: 'Markazi Text', sans-serif;
    font-size: 20px;
    text-align: left;
}
li::before{
    content: "[" counter(chapter) "]: ";
    counter-increment: chapter;
}